# Python virtual environment
projects/
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# IDE settings
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.hypothesis/

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec
!ezlay.spec

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
